<div class="container">
   
    <div class="row">
      
        <h5 class="text-center h3" style="margin-left: 53px;">
            Sachin Tendulkar    
        </h5>
    </div>

    <div class="row text-center" style="margin-left: 3px;">
        <p><span>Born:</span>  24 April 1973
            <br>
    <span>First Match: </span> <b>{{firstMatch}}</b>  <span style="margin-left: 7px;">Last Match: </span> <b>{{lastMatch}}</b>
        <br>
           
    </p>
    
    </div>
    
    <div class="row navs" style="margin-top: 75px;">
            <div class="col-sm-6" >
                <a routerLink="/summary" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/presentation.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Summary
                                  </p>
                                </mat-card-content>
                            </mat-card>
                </a>
               
            </div>
            <div class="col-sm-6" >
                <a routerLink="/opponents" routerLinkActive="active">
                    <mat-card>
                            <img mat-card-image src="assets/opponents.png" class="img-responsive centre">
                            <mat-card-content>
                              <p>
                                  Vs Opponents
                              </p>
                            </mat-card-content>
                        </mat-card>
                </a>    
                    
            </div>
    </div>
    
    <div class="row">
          
           
            <div class="col-sm-6">
                    <a routerLink="/ground" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/stadium.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Vs Grounds
                                  </p>
                                </mat-card-content>
                            </mat-card>
                    </a>    
                        
            </div>
            <div class="col-sm-6">
                    <a routerLink="/year" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/calendar.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Vs Year
                                  </p>
                                </mat-card-content>
                            </mat-card>
                    </a>    
                        
            </div>
    </div>
    
    <div class="row">
           
          
    </div>
    

</div>
