<div class="container">
    <div class="row">
        <h3>
            Sachin Tendulkar
        </h3>
    </div>
    <div class="row navs">
            <div class="col-sm-6" >
                <a routerLink="/summary" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/presentation.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Summary
                                  </p>
                                </mat-card-content>
                            </mat-card>
                </a>
               
            </div>
            <div class="col-sm-6" >
                <a routerLink="/opponents" routerLinkActive="active">
                    <mat-card>
                            <img mat-card-image src="assets/opponents.png" class="img-responsive centre">
                            <mat-card-content>
                              <p>
                                  Vs Opponents
                              </p>
                            </mat-card-content>
                        </mat-card>
                </a>    
                    
            </div>
    </div>
    
    <div class="row">
          
           
            <div class="col-sm-6">
                    <a routerLink="/ground" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/stadium.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Vs Grounds
                                  </p>
                                </mat-card-content>
                            </mat-card>
                    </a>    
                        
            </div>
            <div class="col-sm-6">
                    <a routerLink="/year" routerLinkActive="active">
                        <mat-card>
                                <img mat-card-image src="assets/calendar.png" class="img-responsive centre">
                                <mat-card-content>
                                  <p>
                                      Vs Year
                                  </p>
                                </mat-card-content>
                            </mat-card>
                    </a>    
                        
            </div>
    </div>
    
    <div class="row">
           
          
    </div>
    

</div>
