<div class="row">
        <div class="col-sm-12">
            <h3>Vs Ground</h3>
        </div>
    </div>

    <div class="row">
        <h4 class="stats-text">
            Stats
        </h4>
    </div>


    <div class="row bar-graph">
        <div class="col-sm-12">
          <div class="card">
                  <div class="card-header text-center">
                     <h5>
                          Ground Analysis 
                  </h5>
                  </div>
                  <div class="card-body">
      
                  <!--chart doughnuts-->
                  <div>
                          <div *ngIf="barChartData">
                            <div style="display: block">
                              <canvas baseChart
                                      [datasets]="barChartData"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [legend]="barChartLegend"
                                      [chartType]="barChartType">
                                    </canvas>
                            </div>
                          </div>
                  </div>
              <!--chart donughts ends-->
              
          </div>
              
          </div>
      </div>
    </div>
    <div class="row  bar-graph">
              <div class="col-sm-12">
        <div class="card">
                <div class="card-header text-center">
                   <h5>
                        Centuries & Half Centuries Analysis 
                </h5>
                </div>
                <div class="card-body">
      
                <!--chart doughnuts-->
                <div>
                        <div *ngIf="barChartData1">
                          <div style="display: block">
                            <canvas baseChart
                                    [datasets]="barChartData1"
                                    [labels]="barChartLabels"
                                    [options]="barChartOptions"
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                  </canvas>
                          </div>
                        </div>
                </div>
            <!--chart donughts ends-->
            
        </div>
            
        </div>
      </div>
      
      </div>
      
      
      <div class="row bar-graph">
        <div class="col-sm-12">
          <div class="card">
                  <div class="card-header text-center">
                     <h5>
                      Match Results Analysis 
                  </h5>
                  </div>
                  <div class="card-body">
      
                  <!--chart doughnuts-->
                  <div>
                          <div *ngIf="barChartData2">
                            <div style="display: block">
                              <canvas baseChart
                                      [datasets]="barChartData2"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [legend]="barChartLegend"
                                      [chartType]="barChartType">
                                    </canvas>
                            </div>
                          </div>
                  </div>
              <!--chart donughts ends-->
              
          </div>
              
          </div>
      </div>
     
      
      </div>
      