/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.stats-text{
    color: #273971;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom:70px;
}

h3{
    color: #273971;
    margin: 30px;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}